:root {
    --list-style-color: var(--theme-second-color);
    --task-done-checkbox-color: var(--list-style-color);
    --task-checkmark-color: white;
}

li {
    color: var(--list-style-color);
}

li > * {
    color: var(--text-color);
}

.task-list {
    padding-left: 0;
}

.task-list-item {
    --checkbox-size: 1.5rem;
    padding-left: 34px;
}

#write .task-list-item * {
    line-height: var(--checkbox-size) !important;
}

.task-list-item > input[type="checkbox"],
.task-list-item > input {
    -webkit-appearance: none;
    display: block;
    margin: 0;
    margin-left: -2rem;
    border: none;
}

.task-list-item > input[type="checkbox"]:focus,
.task-list-item > input:focus {
    outline: none;
    box-shadow: none;
}

.task-list-item > input[type="checkbox"]::before,
.task-list-item > input::before {
    content: " ";
    display: block;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border-radius: var(--checkbox-size);
    background: var(--bg-second-color);
    transition: background-color 200ms ease-in-out;
}

.task-list-item > input[type="checkbox"]::after,
.task-list-item > input::after {
    content: " ";
    width: 1rem;
    height: 0.5rem;
    border: 3px solid var(--task-checkmark-color);
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
    position: absolute;
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
    top: 0.4rem;
    left: 0.25rem;
}

.task-list-item > input[type="checkbox"] + p,
.task-list-item > input + p {
    vertical-align: middle;
}

.task-list-item > input[type="checkbox"]:checked::before,
.task-list-item > input:checked::before {
    display: inline-block;
    border-width: 2px;
    background: var(--task-done-checkbox-color);
}

.task-list-item > input[type="checkbox"]:checked::after,
.task-list-item > input:checked::after {
    opacity: 1;
}

.task-list-item > input[type="checkbox"]:checked + p,
.task-list-item > input:checked + p {
    text-decoration: line-through;
    color: var(--text-second-color);
}
